<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LBRTY About</title>
    
    <link href="css/bootstrap.css" rel="stylesheet">
     Bootstrap Core CSS 
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
     Custom CSS 
    <link href="css/landing-page.css" rel="stylesheet">

     Custom Fonts 
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <link href="css/about_css.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>-->
    <!--    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]-->-->

</head>

<body>

     <!--Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
             <!--Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Klosstin 2017: Social Activism</a>
            </div>
             <!--Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/quiz">Quiz</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
             <!--/.navbar-collapse -->
        </div>
         <!--/.container -->
    </nav>


     Header 
    <a name="about"></a>
    <div class="header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>ABOUT</h1>
                        <h3>The team and the story behind LBRTY</br></h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                           
                        </ul>
                    </div>
                </div>
            </div>

        </div>
         <!--/.container -->

    </div>
     <!--/.intro-header -->

     <!--Page Content -->

	<a  name="quiz"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="col-lg-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">The Inspiration for LBRTY</h2>
                        <p class="lead">We live in a changing world that incorporates countless different beliefs and ideals. Many social changes are coming to light, with thousands of people supporting them. LBRTY was born in an attempt to help others find the organizations and changes that they support so they can have a role in our changing society.</p>
                        
                        
                    </div>
                </div>
                <div class="six columns">
                    <div class="col-lg-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                     <h2 class="section-heading">SPECIAL THANKS</h2>
                    <p class="lead">We would like to thank all the people that helped make this site possible. Without Karlie Kloss, the Kode with Klossy camp scholorships, the amazing teachers and TAs, and the supporting Klosstin family, we wouldn't have been able to make this site a reality.
                      <br>Thank you for teaching us all we know.
                      
                    </p>


                    </div>
                </div>
            </div>

        </div>
         <!--/.container -->

    </div>
     <!--/.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div id = "background">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h3 class="section-heading">THE CREATORS</h3>
                   
                    <h2 class="lead"><b>Sumaya Al-Bedaiwi </b></h2>
                      <p>I was born and raised in Austin and have always been a "techy" person. I truly believe that technoloy is the door to all changes, and that code is the key to unlocking that door.<br> I wanted to be a part of this website because I myself am involved in multiple social changes. I want to help others find the organization that shares their ideals.</p>
                      
                       <h2 class="lead"><b>Laura Nafría Sarró</b></h2><p>I was born in Spain and I live in Austin, TX. <br> I wanted to be part of this site because we live in a world with a lot of social changes happening. I think that a lot of people want to get involved and help, but they don't know where and how; I wanted to give those people the opportunity to become the change in our world.</p>
                      
                    <h2 class="lead"><b>Chloé Puckett</b></h2>
                      <p>I was born in South Haven, Michigan and moved to Austin when I was eight. When I first started coding, two years ago, I hated it. Now, it's one of my favorite things. <br> I wanted to be apart of this website because these issues that effect the world daily are <b>so</b> important to me. We live in a world of oppression and hate, but we wanted to come together and make a safe space to find places where you can help. Sometimes finding a place and a way to get involved with something you're are passionate about and I personally wanted to make that easier for people.  </p>
                    </div>
                    
                    <!--<p class="lead">We're Chloe Puckett, Laura Nafria Sarro, and Sumaya Al-Bedaiwi. In 2017, we attended the Kode with Klossy camp in Austin, Texas. Our time at KWK gave us the ability and necessary knowlegde to create this website.</p>-->

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img id="kwk" src=img/kwk.png style=  "width:absolute; height:500px; margin-left:-40px; margin-top:80px">
                    
                </div>
            </div>

        </div>
         <!--/.container -->

    </div>
     <!--/.content-section-b -->



     <!--Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/quiz">Quiz</a> 
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Laura, Chloe, and Sumaya: Kode With Klossy 2017 || All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

     <!--jQuery -->
    <script src="js/jquery.js"></script>

     <!--Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
