<!DOCTYPE html>
<html lang="en">

<head>
    <!--CAROUSEL-->
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--CAROUSEL-->



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LBRTY: Social Activism</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Klosstin 2017: Social Activism</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/quiz">Quiz</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">


<!--CAROUSEL-->
<div class="container">
  <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>

    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        
        <div class="item  active">
        <img id="pictures-slideshow" src="img/fist.jpg" alt="LBRTY" style="height:500px; width:100%;">
        <div class="carousel-caption">
          <div class="intro-message">
            <h1>LBRTY</h1>
            <h3>"Liberty, when it begins to take root, is a plant of rapid growth." <br>George Washington</h3>
            </div>
        </div>
      </div>
        
      <div class="item">
        <img id="pictures-slideshow" src="img/feminism2.jpg" style="height:500px; width:100%;">
        <div class="carousel-caption">
          <div class="intro-message">
            <h1>LBRTY</h1>
            <h3>"Liberty, when it begins to take root, is a plant of rapid growth." <br>George Washington</h3>
            </div>
        </div>
      </div>

    
      <div class="item">
        <img id="pictures-slideshow" src="img/refugees.jpg" alt="LBRTY" style="height:500px; width:100%;">
        <div class="carousel-caption">
          <div class="intro-message">
            <h1>LBRTY</h1>
            <h3>"Liberty, when it begins to take root, is a plant of rapid growth." <br>George Washington</h3>
            </div>
        </div>
      </div>
      
      <div class="item">
        <img id="pictures-slideshow" src="img/lgbtq2.jpg" alt="LBRTY" style="height:500px; width:100%;">
        <div class="carousel-caption">
          <div class="intro-message">
            <h1>LBRTY</h1>
            <h3>"Liberty, when it begins to take root, is a plant of rapid growth." <br>George Washington</h3>
            </div>
        </div>
      </div>
     
      <div class="item">
        <img id="pictures-slideshow" src="img/animals.jpg" alt="LBRTY" style="height:500px; width:100%" >
        <div class="carousel-caption">
          <div class="intro-message">
            <h1>LBRTY</h1>
            <h3>"Liberty, when it begins to take root, is a plant of rapid growth." <br>George Washington</h3>
            </div>
        </div>
      </div>
      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!--CAROUSEL-->


            <!--<div class="row">-->
            <!--    <div class="col-lg-12">-->
            <!--        <div class="intro-message">-->
            <!--            <h1>LBRTY</h1>-->
            <!--            <h3>"Liberty, when it begins to take root, is a plant of rapid growth." <br>George Washington</h3>-->
            <!--            <hr class="intro-divider">-->
            <!--            <ul class="list-inline intro-social-buttons">-->
                           
            <!--            </ul>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="about"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="six columns">
                    <div class="col-lg-6 col-sm-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">FEMINISM</h2>
                        <p>Feminism is a movement that promotes equality between both sexes, men and women. The first wave of feminism came in the 19th and 20th century because of women suffrage. The second wave (1960-1980) began with debate about cultural inequalities, gender norms, and the role of women within society. The third wave (1990-2000s) is more of a continuation of the second wave of feminism and refers to the strain of feminist activity. <br> <br>
                        While feminism has only recently gained such a large following, as well as a large acceptance amongst men and women, we still have extreme lengths to cover. Women are still paid less. Men are still expected to hold a firm masculinity and not show emotion or interest in anything "unmanly". Breaking down these standards and norms will be difficult, but we can only hope that in the future, with the help of feminists, we can get to that point.  </p>
                        <!--<a href="feminism.html"><button type="button"> Learn more</button></a>-->
                        
                    </div>
                </div>
                <div class="six columns">
                    <div class="col-lg-4 col-lg-offset-1 col-sm-6">
                        <!--<hr class="section-heading-spacer">-->
                        <div class="clearfix"></div>
                       <img  class="img-responsive" style="margin-top:110px;" width=500px height=300px margin-left=90px id="f-img" src="img/feminism3.jpg">


                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-1 col-sm-push-5  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">REFUGEES</h2>
                    <p>War and natural disasters have plagued the surfaces of multiple countries around the world. Thousands of families are forced from their homes and thousands more are forced across borders in an attempt to protect themselves and their children. They travel over miles of dangerous terrain for a chance at a safer life, sometimes even losing their lives in the process. Those who are lucky settle in safer countries, having come with little more than what they could carry on their backs. Many of these refugees choose to come to America, "the land of the free," to escape the violence they face at home. <br> <br> As the number of incoming refugees has increased, tension has risen. However, many groups have come forward to take action for the cause of the refugees. They are fighting to allow the refugees to continue their settlment in a safer land so they can create a better future for their families. </p>
                     <!--<button type="button">Learn more</button>-->

                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="http://freebeacon.com/wp-content/uploads/2015/11/Syrian-refugees.jpg" style="margin-left:-70px; margin-top: 40px;">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">LGBTQ+</h2>
                    <p>The LGBTQ+ community consists of people of all genders, sexualities, and identities. LGBT people have been around since the dawn of time, but only recently have people felt safe enough to feel proud of who they are. One thing that really got the LGBT movement started was The Stonewall Riot. The Stonewall Riot happened on June 28th, 1969 at the Stonewall Inn when a group of the LGBT community finally stood up against the unfair ways police berated and treated members of their community. It is said to be the single most important gay rights liberation act in history and paved the way from the LGBT community and rights. <br><br> Now, LGBT people are more accepted and others are much more welcoming but there are still oppressive individuals out there. Children are still being kicked out of their homes for being gay or trans*. People are still getting fired from their workplaces because of how they identify or who they love. And now, we have more government officals trying to take away the rights we've only just gotten. The fight is long from over, but with the help and acceptance from allies and other members of the community, we will not be silenced.  </p>
                  <!--<button type="button">Learn more</button>-->

                </div>
                <div class="col-lg-5 col-lg-offset-1 col-sm-6">
                    <img class="img-responsive" style="margin-top:150px;" src="img/lgbtq-pic.jpg" >
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-6  col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">ANIMALS</h2>
                    <p>In the past 100 years, nearly 500 species of animals have gone extinct. For every 10,000 species around the world, two of them die off every century. Of the 500 species that have gone extinct in the past 100 years, 158 of them were fish, 146 of them amphibians, 80 birds, 69 mammals and 24 reptiles. Experts have calculated between 0.01% and 0.1% of species go extinct every year. With the low estimate of the animals on our planet being 2 million species, 200 to 2,000 species will go extinct every year. <br> <br> There are many reasons that animals are going extinct, but nearly all of them are caused by humans. Poaching, polution, and deforestation are amongst them. That can only mean we need humans help to stop what we've begun. The things we've already done to this environment are irreversible but that doesn't mean we can't make an effort to help and save what we have now and prevent more harm in the future. </p>
                  <!--<button type="button">Learn more</button>-->

                </div>
                <div class="col-lg-4 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" style="margin-top:60px; margin-left:70px; height:250px; width:1900px" src="http://animalrightsacademy.org/wp-content/uploads/2014/03/Animal_rights_academy_slider.jpg">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    
    
    
            
	<a  name="about"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2 style="margin-left:100px; margin-top:50px;"> <br>Take the quiz to find an activism group that fits you:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <!--<a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>-->
                        </li>
                        <li>
                            <a href="quiz" class="submit"> <img  id="button" width=200px  id="picture_start" src="http://www.iconsdb.com/icons/download/white/arrow-24-512.png" style= "margin-left:-300px; padding:0px; margin-top:55px;"></a>
                        </li>
                        <li>
                            <!--<a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>-->
                        </li>
                    </ul>
                </div>
            </div>

        </div>


    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/quiz">Quiz</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="/about" >About</a> 
                        </li>
                        <!--<li class="footer-menu-divider">&sdot;</li>-->
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Laura, Chloe, and Sumaya: Kode With Klossy 2017 || All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
