<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LBRTY Quiz</title>
    
    <!-- CSS for Quiz page -->
    <link href="css/quiz_css.css" rel="stylesheet">
    <!--Fonts-->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet">
     Bootstrap Core CSS 
    <link href="css/bootstrap.min.css" rel="stylesheet">
    
     <!--Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Klosstin 2017: Social Activism</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/quiz">Quiz</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  
  </head>
  <body>
     <div class="box">
      <center>
       <form method= "POST" action="/answer">
          <h3>What's your name?</h3>
          <input type="text" name="name">
       
          <h3>Which issue is most important to you?</h3>
          <p>Please check only one answer.</p>
          <input type="radio" name="q1" value="10">Feminism <br>
          <input type="radio" name="q1" value="20">LGBTQ+ <br>
          <input type="radio" name="q1" value="30">Refugees <br>
          <input type="radio" name="q1" value="40">Animals <br>
      
         <h3>Are you willing to invest time/money/donations in an organization?</h3>
         <p>Please check only one answer.</p>
         <input type="radio" name="q2" value="100"> Yes <br>
         <input type="radio" name="q2" value="200"> No <br>
       
         <h3>Are you more interested in a national or local organization?</h3>
         <p>Please check only one answer.</p>
         <input type="radio" name="q3" value="3000"> Local (Austin, TX only, sorry pals) <br>
         <input type="radio" name="q3" value="4000"> National <br> <br>
         <input class = "button" type="submit">
       </form>
    </center>
  </div>
       
       
  </body>
</html>